.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  background-color: #EEEEEE;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 5px;
  font-family: 'Metal Mania', cursive;
  padding-bottom: 20px;
}

.profile-and-musings {
  display: flex;
}

.musing {
  border-style: none;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #F9F9F9;
  border-radius: 20px;
  margin-bottom: 2px;
  box-shadow: 1px 2px #CCCCCC;
  padding: 2px;
}

.likes {
  display: flex;
}

.musings {
  background-color: #DD333388;
  margin: 20px;
  border-radius: 5px;
  width: 100%;
}

.articles {
  background-color: #6688FF;
  box-shadow: -1px -1px #CCCCCC;
  border-radius: 5px;
  text-align: center;
}

.article {
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 1px 1px #CCCCCC;
  font-family: 'Times New Roman';
  padding: 2px;
}

.article-container {
  width: 300px;
}

.bandcontainer {
  display: flex;
  background-color: #DD333388;
}

.bandcontainerHidden {
  display: flex;

}

.article:hover {
  border-style: solid;
  border-color: #4466FF;
  background-color: #FFFFFF;
  margin: 2px;
  box-shadow: 1px 1px #5555AA;
}

nav {
  background-color: #DD0000;
  font-size: 1.25em;
  padding: 5px;
  font-family: 'Metal Mania', cursive;
}

.headings {
  font-family: 'Metal Mania', cursive;
  text-align: center;
}

.profile-pic {
  object-fit: scale-down;
  width: 400px;
  height: 400px;
}

.profile-thumbnail {
  object-fit: scale-down;

  width: 64px;
  height: 64px;
}

.browse-background {
  background-color: #EEEEEE;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  margin: 10px;
}

.nav-elem {
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  color: #EEEEEE;
  text-decoration: none;
}

.nav-elem:hover {
  padding-right: 15px;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.profile-info {
  background-color: #EEEEEE;

}

.fan-button {
  background-color: #DD222200;
  border-style: none;
  border-radius: 20px;
  width: 20px;
  height: 20px;

}

.fan-button:hover {
  background-color: #DD2222;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  box-shadow: 1px 1px #AA0000;
}

.fan-number {
  border-style: none;
  margin: 2px;
  padding: 1px;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FF6666;
  object-fit: scale-down;
  width: 100px;
  height: 20px;
  box-shadow: 1px 2px #CCCCCC;
}

.flex-container {
  display: flex;
}


.read-button, .close-button, .write-article, .edit-button, .delete, .musings-button, .follow, .find, .signup-button, .login-button, .edit-video {
  font-family: 'Metal Mania', cursive;
  border-radius: 5px;
}

.read-button:hover, .close-button:hover, .write-article:hover, .edit-button:hover, .delete:hover, .musings-button:hover, .follow:hover, .find:hover {
  background-color: #4466FF;
  color: #EEEEEE;
  font-family: 'Metal Mania', cursive;
  border-radius: 5px;
}

iframe {
  height: 392px;
  width: 522px;
}

.user-details {
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 1.2em;
  background-color: #6688FF;
  box-shadow: -1px -1px #CCCCCC;
  border-radius: 5px;
  border-style: solid;
  border-color: #FFFFFF;
}

.band-grid, .fan-grid, .follower-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-auto-rows: 200px;
  grid-column-gap: 10px;
  margin-right: 100px;
}
